<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Twitch Feature Suite</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="icon" href="/twitch.png">
  </head>
  <body>
    <header>
      <button class="back-btn" style="justify-content: left;" onclick="goBack()">Back to all resutlts</button>
      <% if (display_name) { %>
        <button class="login-btn" id="profileButton"><%= display_name %></button>
      <% } else { %>
        <button class="login-btn" id="loginButton">Log in</button>
      <% } %>
      <button class="burger-menu">&#9776;</button>
      <ul class="menu-options">
        <li><a href="#" id="dark-mode-toggle">Light mode</a></li>
        <li><a href="/about">About</a></li>
        <!-- <li><a href="/examples">Examples</a></li> -->
      </ul>
    </header>

    <div class="search-container">
      <div class="main-content">
        <ul>
          <li>
            Search term: <%= item.searchTerm %>
          </li>
          <li>
            Channel: <%= item.channel %>
          </li>
          <li>
            Time of extension search: <%= item.timestamp %>
          </li>
        </ul>
      </div>
    </div>
    <br><br><div class="search-container"><h3>Chat logs for this search:</h3></div><br>
    <div class="search-container">
      <table>
        <thead>
          <tr>
            <th>Chatter</th>
            <th>Message</th>
            <th>Timestamp</th>
          </tr>
        </thead>
        <tbody>
          <% var results = JSON.parse(item.searchResults);  for(var i=0; i<results.length; i++) { %>
            <tr>
              <td>
                <a href="https://twitch.tv/<%= results[i].commenter_display_name %>" style="color:<%= results[i].message_user_color %>"><%= results[i].commenter_display_name %></a>
              </td>
              <td>
                <%= results[i].message_body %>
              </td>
              <td>
                <a href="<%= results[i].video_offset_link %>"><%= results[i].video_offset_link %></a>
              </td>
            </tr>
          <% } %>
        </tbody>
      </table>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/item.js"></script>
  </body>
</html>
