<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Twitch Feature Suite</title>
    <link rel="stylesheet" type="text/css" href="./css/style.css">
    <link rel="icon" href="/twitch.png">
  </head>
  <body>
    <header>
      <form id ="myForm" action="/submit" method="POST">
        <input type="text" class="search-bar-results" id= "userSearch" name="userSearch"  placeholder="Search..." required/>
        <button type="submit" class="search-icon-btn">&#128269;</button>
      </form>
      <% if (display_name) { %>
        <button class="login-btn" id="profileButton"><%= display_name %></button>
      <% } else { %>
        <button class="login-btn" id="loginButton">Log in</button>
      <% } %>
      <button class="burger-menu">&#9776;</button>
      <ul class="menu-options">
        <li><a href="#" id="dark-mode-toggle">Light mode</a></li>
        <li><a href="/about">About</a></li>
        <!-- <li><a href="/examples">Examples</a></li> -->
      </ul>        
    </header>
    
    <div class="search-heading">
      <h1>Results for <%= searchType.toUpperCase() %> <%= search %></h1>
      <p class="search-para">The extension was used <%= (just_searched.length)-1 %> other times to search chat logs</p>
    </div>
    <div id="modal">
      <button id="close-btn">&times;</button>
      <br><h2>Suggest an emote</h2><br>
      <form id="suggest-form">
        <input name="emote" class="search-bar" style="width:90%;margin-bottom: 10px;font-size: 10px;"type="text" id="input-field" placeholder="Enter emote search suggestion"/><br><br>
        <button type="submit" id="submit-btn" disabled>Suggest</button>
      </form>
    </div>
    <div class="search-container">
      <div class="search-left">
          <div class="search-types card">
            <div class="top-heading">
              <h1>Search type &gt; </h1>
            </div>
            <div class="card-content">
              <ul class="card-list">
                <li><label style="font-family: 'Lato', sans-serif; font-weight: 700; letter-spacing: 1px;" for="match-whole-word">Match Whole Word</label>
                  <input name="wholeWord" value="match" type="checkbox" id="match-whole-word">
                </li>
                <li><label style="font-family: 'Lato', sans-serif; font-weight: 700; letter-spacing: 1px;" for="SearchTerm">Search Term</label>
                  <input name="searchType" value="searchTerm" type="checkbox" id="SearchTerm"></li>
                <li><label style="font-family: 'Lato', sans-serif; font-weight: 700; letter-spacing: 1px;" for="Channel">Channel</label>
                  <input name="searchType" value="Channel" type="checkbox" id="Channel"></li>
                <li><label style="font-family: 'Lato', sans-serif; font-weight: 700; letter-spacing: 1px;" for="User">User</label>
                  <input name="searchType" value="User" type="checkbox" id="User"></li>
              </ul>
            </div>
          </div>

          <div class="emote-searches card">
            <div class="top-heading">
              <h1>Emote searches &gt; </h1>
            </div>
            <div class="card-content">
              <form action="/submit" method="POST">
                <input type="hidden" name="userSearch" id="value">
                <input type="hidden" name="searchType" id="searchTypeValue">
                <ul class="card-list">
                  <li id="emote1"class="emotes"><img src="OMEGALUL.png" width="47" height="43" alt="OMEGALUL emote">
                    <span class="emote-list">(OMEGALUL)</span></li>
                  <li id="emote2" class="emotes"><img src="Sadge.png" width="47" height="43" alt="Sadge emote">
                    <span class="emote-list">(Sadge)</span></li>
                  <li id="emote3" class="emotes"><img src="heart.png" width="47" height="43" alt="heart emote">
                    <span class="emote-list">(&lt;3)</span></li>
                </ul>
              </form>
            </div>
          </div>

          <div class="suggest-btn-container">
            <button class="suggest-btn">Suggest new</button>
          </div>
      </div>

      <div class="main-content">
        <ul>
          <% sendResults.forEach((result, index) => { %>
            <a href="/items/<%= index %>"><li>Channel: <%= result.channel %><br><br>
              <p class="slice">Chatters: <% var results = JSON.parse(result.searchResults); 
                for(var i=0; i<results.length; i++) { %>
              <%= results[i].commenter_display_name %>
            <% } %></p>
            <p style="color:#5b6980">
              <%= result.timestamp %>
            </p>
          </li></a>
        <% }) %>
        
        </ul>
      </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/results.js"></script>
  </body>
</html>
