<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Twitch Feature Suite</title>
    <link rel="stylesheet" type="text/css" href="./css/style.css">
  </head>
  <body>
    <header>
      <form id ="myForm" class="search-btn" action="/submit" method="POST">
        <input type="text" class="search-bar-results" id= "userSearch" name="userSearch"  placeholder="Search..." required/>
        <button type="submit" class="search-icon-btn">&#128269;</button>
      </form>
      <% if (display_name) { %>
        <button class="login-btn" id="profileButton"><%= display_name %></button>
      <% } else { %>
        <button class="login-btn" id="loginButton">Log in</button>
      <% } %>
      <button class="burger-menu">&#9776;</button>
      <ul class="menu-options">
        <li><a href="#" id="dark-mode-toggle">Dark mode</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/examples">Examples</a></li>
      </ul>        
    </header>
    
    <div class="search-heading">
      <h1>Results for <%= searchType.toUpperCase() %> <%= search %></h1>
      <p class="search-para">The extension was used 221 other times to search chat logs</p>
    </div>

    <div class="search-container">
      <div class="search-left">
          <div class="search-types card">
            <div class="top-heading">
              <h1>Search type &gt; </h1>
            </div>

            <div class="card-content">
              <ul class="card-list">
                <li><label for="match-whole-word">Match Whole Word</label>
                  <input name="wholeWord" value="match" type="checkbox" id="match-whole-word">
                </li>
                <li><label for="SearchTerm">Search Term</label>
                  <input name="searchType" value="searchTerm" type="checkbox" id="SearchTerm"></li>
                <li><label for="Channel">Channel</label>
                  <input name="searchType" value="Channel" type="checkbox" id="Channel"></li>
                <li><label for="User">User</label>
                  <input name="searchType" value="User" type="checkbox" id="User"></li>
              </ul>
            </div>
          </div>

          <div class="emote-searches card">
            <div class="top-heading">
              <h1>Emote searches &gt; </h1>
            </div>

            <div class="card-content">
              <ul class="card-list">
                <li>Emote 1</li>
                <li>Emote 2</li>
                <li>Emote 3</li>
              </ul>
            </div>
          </div>

          <div class="suggest-btn-container">
            <button class="suggest-btn">Suggest new</button>
          </div>
      </div>

      <div class="main-content">
        <ul>
          <% sendResults.forEach((result, index) => { %>
            <a href="/items/<%= index %>"><li>Channel: <%= result.channel %><br><br>
            <p class="slice">Chatters: <% for(var i=0; i<result.searchResults.length; i++) { %>
              <%= result.searchResults[i].commenter_display_name %>;
            <% } %>
            </p>
            <p style="color:#5b6980">
              <%= result.timestamp %>
            </p>
          </li></a>
        <% }) %>
        
        </ul>
      </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/results.js"></script>
  </body>
</html>
